footer {
    opacity: .5;
    clear: both;
    position: fixed;
    height: 1.25em;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    text-align: center;
    background-color: #efefef;
    font-size: 18px;
}

#generate-button {
    color: white;
    display: block;
    position: absolute;
    margin:auto;
    vertical-align: middle;
    top:0;
    bottom:0;
    right:0;
    left:0;
    opacity: .75;
    width: 20em;
    height: 5em;
    background: #1a98e6;
    border: 5px solid black;
    border-radius: 5%;
    font-size: 24px;
    font-weight: bold;
}

#generate-button:hover {
    width: 20.5em;
    height: 5.5em;
}

.logo {
    float: left;
    clear: both;
    margin-top: 20px;
    margin-left: 20px;
}

 nav {
    opacity: .75;
    width: 20em;
    height: 7em;
    background-color: #1a98e6;
    border: 2px solid black;
    color: white;
    font-family: 'montserrat';
    float: right;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-right: 20px;
}

