footer {
    opacity: .5;
    clear: both;
    position: fixed;
    height: 1.25em;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    text-align: center;
    background-color: #efefef;
    font-size: 18px;
}